<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<!--      <app-recipes [hidden]="this.currentNavbarOption !== 'recipes'"></app-recipes>-->
<!--      <app-shopping-list [hidden]="this.currentNavbarOption !== 'shopping-list'"></app-shopping-list>-->
<!--      <app-recipes *ngIf="currentNavbarOption === 'recipes'"></app-recipes>-->
<!--      <app-shopping-list *ngIf="currentNavbarOption === 'shopping-list'"></app-shopping-list>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
